<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Custom User</title>
  </head>

  <body>
    <div class='container'>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class='nav-item'>
          <a class='nav-link btn btn-outline-danger' href="{% url 'logout' %}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
      {% block body_block %}
      <h1>Welcome to the custom user!</h1>
      {% if request.user.is_authenticated %}
      <p>You logged in as:</p>
      <p><b>Username:</b> {{ request.user.username }}</p>
      <p><b>Display name:</b> {{ request.user.display_name }}</p>
      <p><b>Homepage:</b> {{ request.user.homepage }}</p>
      <p><b>Age:</b> {{ request.user.age }}</p>
      <p><b>'settings.AUTH_USER_MODEL'</b>: {{value}}</p>
      {% else %}
      <h4>Make use of the nav-bar to navigate through the log in page and the sign up page</h4>
      {% endif %}
      {% endblock %}
    </div>
  </body>

</html>